<% layout('layouts/boilerplate') %>


<div class="row">
    <%- include('../partials/flash') %>
    <div class="col-md-6 mx-auto">
        <h1 class="display-6">LogIn</h1>

        <form action="/login" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" name="username" class="form-control" id="username" placeholder="Username">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password">
            </div>

            <button class="btn btn-sm btn-success" type="submit">LogIn</button>

            <p class="fw-light mt-2">Don't have account, <a href="/register">Sign Up</a></p>
        </form>
    </div>
</div>