<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar') %>

<ul class="list-group">
    <% for(let item of user.cart){ %>
        <li class="list-group-item">
            <h3><%= item.name %></h3>
            <p>Rs: <%= item.price %></p>
        </li>
    <% } %>
</ul>
